<div
	class="tw-flex tw-justify-between tw-items-center tw-flex-col md:lg:tw-flex-row tw-gap-4 tw-mb-4"
>
	<div class="md:lg:tw-w-1/3 tw-w-full">
		<lib-textbox [config]="formList.searchTextbox" [control]="searchControl" class="search-field">
			<ng-template #matSuffixRef>
				<mat-icon class="tw-cursor-pointer" (click)="onInputChange()">search</mat-icon>
			</ng-template>
		</lib-textbox>
	</div>

	<div class="tw-text-right tw-w-full">
		<lib-button [config]="formList.addNewButton" (onClick)="navigateToAdd()" />
	</div>
</div>

<lib-table
	[config]="serverSide"
	(sortChange)="sortChange($event)"
	(pageChange)="pageChange($event)"
>
	<ng-template #customTemplate let-data="data" let-key="key">
		@if (key === 'selection') {
			<div [class.show-checkbox]="data.isSelected">
				<mat-checkbox
					class="check-box check__file"
					[checked]="serverSide.isSelected(data)"
					(change)="onRowSelection(data)"
				/>
			</div>
		} @else if (key === 'actions') {
			<div class="tw-flex tw-gap-3">
				<mat-icon class="tw-cursor-pointer" (click)="onAction()">edit</mat-icon>
				<mat-icon class="tw-cursor-pointer" (click)="onAction()">delete</mat-icon>
			</div>
		}
	</ng-template>

	<ng-template #selectionTemplate>
		<div class="filter-list">
			<mat-checkbox class="check__file" (change)="onAllSelection($event.checked)" />
		</div>
	</ng-template>
</lib-table>
