<section class="tw-flex tw-justify-center tw-h-full">
	<div
		class="tw-grid md:lg:tw-grid-cols-12 tw-py-8 tw-px-4 md:lg:tw-px-4 md:lg:tw-py-16 md:lg:tw-max-w-screen-xl md:lg:tw-gap-20 tw-place-self-center"
	>
		<div class="tw-col-span-6 tw-place-self-center">
			<img src="./background/illustration-login.png" alt="illustration Login" />
		</div>
		<div class="tw-col-span-6 tw-place-self-center tw-min-w-full">
			<div class="tw-bg-white tw-p-6 tw-rounded-lg tw-shadow tw-mx-auto md:lg:tw-p-8 tw-max-w-xl">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
