/* Color Design Token */

/* Text */
$color-text: #1c2024;
$color-text-subtle: #60646c;
$color-text-subtlest: #60646c;
$color-text-inverse: #fcfcfd;
$color-text-disabled: rgba(0, 8, 48, 0.28);
$color-text-selected: #5b5bd6;
$color-text-brand: #5b5bd6;
$color-text-danger: #ae2e24;
$color-text-warning: #f76b15;
$color-text-success: #30a46c;
$color-text-discovery: #6e56cf;
$color-text-information: #0090ff;

/* Link */
$color-text-link: #0090ff;
$color-text-link-pressed: #0d74ce;
$color-text-link-visited: #6e56cf;

/* Icon */
$color-icon: #60646c;
$color-icon-subtle: #80838d;
$color-icon-inverse: #fcfcfd;
$color-icon-disabled: #b9bbc6;
$color-icon-selected: #5b5bd6;
$color-icon-brand: #5b5bd6;
$color-icon-danger: #ae2e24;
$color-icon-warning: #f76b15;
$color-icon-success: #30a46c;
$color-icon-discovery: #6e56cf;
$color-icon-information: #0090ff;

/* Border */
$color-border: rgba(0, 0, 45, 0.09);
$color-border-hover: rgba(0, 0, 47, 0.15);
$color-border-bold: #80838d;
$color-border-inverse: #fcfcfd;
$color-border-disabled: rgba(0, 9, 50, 0.12);
$color-border-focused: #5b5bd6;
$color-border-selected: #5151cd;
$color-border-input: rgba(0, 9, 50, 0.12);
$color-border-brand: #5b5bd6;
$color-border-danger: #e5484d;
$color-border-warning: #f76b15;
$color-border-success: #30a46c;
$color-border-discovery: #6e56cf;
$color-border-information: #0090ff;

/* Background */
$color-background-accent-gray-subtlest: #f0f0f0;
$color-background-accent-gray-subtlest-hover: #e8e8e8;
$color-background-accent-gray-subtlest-pressed: #e0e0e0;
$color-background-accent-gray-subtler: #d9d9d9;
$color-background-accent-gray-subtler-hover: #cecece;
$color-background-accent-gray-subtler-pressed: #bbbbbb;
$color-background-accent-gray-subtle: #bbbbbb;
$color-background-accent-gray-subtle-hover: #cecece;
$color-background-accent-gray-subtle-pressed: #d9d9d9;
$color-background-accent-gray-bolder: #838383;
$color-background-accent-gray-bolder-hover: #646464;
$color-background-accent-gray-bolder-pressed: #202020;
$color-background-disabled: rgba(0, 0, 51, 0.06);
$color-background-input: #fcfcfd;
$color-background-input-hovered: #f9f9fb;
$color-background-input-pressed: #f0f0f3;
$color-background-inverse-subtle: rgba(0, 0, 45, 0.09);
$color-background-inverse-subtle-hovered: rgba(0, 9, 50, 0.12);
$color-background-inverse-subtle-pressed: rgba(0, 6, 46, 0.2);
$color-background-neutral-subtle: rgba(0, 0, 85, 0.01);
$color-background-neutral-subtle-hovered: rgba(0, 0, 51, 0.06);
$color-background-neutral-subtle-pressed: rgba(0, 0, 47, 0.15);
$color-background-neutral: rgba(0, 0, 51, 0.06);
$color-background-neutral-hovered: rgba(0, 9, 50, 0.12);
$color-background-neutral-pressed: rgba(0, 6, 46, 0.2);
$color-background-neutral-bold: #80838d;
$color-background-neutral-bold-hovered: #60646c;
$color-background-neutral-bold-pressed: #1c2024;
$color-background-brand-subtle: #f8f8ff;
$color-background-brand-subtle-hovered: #f0f1fe;
$color-background-brand-subtle-pressed: #e6e7ff;
$color-background-brand-bold: #5b5bd6;
$color-background-brand-bold-hovered: #5151cd;
$color-background-brand-bold-pressed: #5753c6;

/* Blanket */
$color-blanket: rgba(0, 5, 29, 0.45);
$color-blanket-selected: rgba(0, 17, 238, 0.06);
$color-blanket-danger: rgba(243, 0, 13, 0.08);

/* Skeleton */
$color-skeleton: rgba(0, 0, 51, 0.06);
$color-skeleton-subtle: rgba(0, 0, 85, 0.03);

/* Surface */
$color-surface: #ffffff;
$color-surface-hovered: #f0f0f3;
$color-surface-pressed: #e0e1e6;
$color-surface-overlay: #fcfcfd;
$color-surface-overlay-hovered: #f0f0f3;
$color-surface-overlay-pressed: #e0e1e6;
$color-surface-raised: #fcfcfd;
$color-surface-raised-hovered: #f0f0f3;
$color-surface-raised-pressed: #e0e1e6;
$color-surface-sunken: #f9f9fb;

/* Shadow */
$color-shadow-overflow:
	0px 0px 8px 0px rgba(9, 30, 66, 0.16),
	0px 0px 1px 0px rgba(9, 30, 66, 0.12);
$color-shadow-overlay:
	0px 8px 12px 0px rgba(9, 30, 66, 0.15),
	0px 0px 1px 0px rgba(9, 30, 66, 0.31);
$color-shadow-raised:
	0px 1px 1px 0px rgba(9, 30, 66, 0.25),
	0px 0px 1px 0px rgba(9, 30, 66, 0.31);
$color-shadow-focus-ring: 0px 0px 0px 4px rgba(0, 17, 238, 0.06);
$color-shadow-focus-ring-gray: 0px 0px 0px 4px rgba(0, 0, 45, 0.09);
$color-shadow-focus-ring-danger: 0px 0px 0px 4px rgba(254, 235, 236, 1);
