<p class="tw-font-semibold tw-text-lg tw-text-gray-900 tw-mb-4">Company Text</p>

<h1 class="tw-font-bold tw-text-2xl tw-text-gray-900 tw-leading-5 tw-tracking-tight tw-mb-2">
	Welcome back
</h1>

<p class="tw-text-sm tw-font-light tw-text-gray-500">
	Start your website in seconds. Don't have an account?
	<span
		class="tw-text-blue-600 tw-font-medium tw-cursor-pointer"
		(click)="navigateToAuth('register')"
	>
		Sign up
	</span>
</p>

<form [formGroup]="form" class="tw-mt-6">
	<lib-formly [form]="form" [formConfig]="formConfig.formly()" />
</form>

<div class="divider-with-text-container tw-mt-4">
	<mat-divider></mat-divider>
	<span class="divider-text">or</span>
	<mat-divider></mat-divider>
</div>

<div class="tw-mt-6">
	<lib-button [config]="formConfig.google()" (onClick)="doLoginByGoogleAccount()" />
</div>

<div class="tw-flex tw-justify-between tw-items-center tw-mt-6">
	<div class="remember-me">
		<lib-checkbox
			[control]="$any(form.get('rememberMe'))"
			[config]="formConfig.remember()"
			[options]="[]"
		/>
	</div>

	<p
		class="tw-text-blue-600 tw-font-medium tw-text-sm tw-cursor-pointer tw-mr-3"
		(click)="navigateToAuth('forgot-password')"
	>
		Forgot password?
	</p>
</div>

<div class="tw-mt-6">
	<lib-button [config]="formConfig.login()" (onClick)="doLogin()" />
</div>
