@use '../abstract/colors' as colors;

.mat-mdc-form-field {
	&.mat-focused {
		.mdc-notched-outline {
			&__leading,
			&__notch,
			&__trailing {
				border-color: colors.$color-border-focused !important;
			}
		}
		.mat-mdc-text-field-wrapper {
			box-shadow: colors.$color-shadow-focus-ring;
			border-radius: 8px;
		}
	}
	&.mat-form-field-disabled {
		.mdc-notched-outline {
			&__leading,
			&__notch,
			&__trailing {
				background-color: colors.$color-background-disabled;
				color: colors.$color-text-disabled;
			}
		}
	}
	&.mat-form-field-invalid {
		&__leading,
		&__notch,
		&__trailing {
			border-color: colors.$color-border-danger;
		}
		.mat-mdc-text-field-wrapper {
			box-shadow: colors.$color-shadow-focus-ring-danger;
			border-radius: 8px;
		}
		mat-icon {
			--mat-icon-color: #e5484d;
		}
	}
	.mdc-notched-outline {
		&__leading,
		&__notch,
		&__trailing {
			border-color: colors.$color-border-input !important;
		}
		&__leading {
			border-top-left-radius: 8px !important;
			border-bottom-left-radius: 8px !important;
		}
		&__trailing {
			border-top-right-radius: 8px !important;
			border-bottom-right-radius: 8px !important;
		}
		&__notch {
			border-right: 0;
		}
	}
	.mat-mdc-form-field-error-wrapper {
		padding: 0;
		display: flex;
		justify-content: flex-end;
		mat-error {
			line-height: 0;
		}
	}
	.mat-mdc-form-field-hint-wrapper {
		padding: 0;
	}
}

.search-field {
	width: 100%;
	.mat-mdc-form-field-subscript-wrapper {
		display: none;
	}
}
