<router-outlet></router-outlet>

<!-- <div class="tw-m-5">
	<div class="tw-flex tw-gap-5 tw-mb-3">
		<lib-button [options]="buttonConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonRaisedConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonStrokedConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonFlatConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonIconConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonFabConfig" (onClick)="openDialog()" />
	</div> -->
