<div class="tw-m-5">
	<div class="tw-flex tw-gap-5 tw-mb-3">
		<lib-button [options]="buttonConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonRaisedConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonStrokedConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonFlatConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonIconConfig" (onClick)="onSubmit()" />
		<lib-button [options]="buttonFabConfig" (onClick)="onSubmit()" />
	</div>

	<div class="tw-mb-3" [formGroup]="form">
		<div class="tw-w-full tw-mb-2">
			<lib-textbox
				[options]="textboxConfig"
				[control]="$any(form.get('name'))"
				(onInput)="onInputChange($event)"
			>
				<!-- <ng-template #matPrefixRef>
					<mat-icon>sentiment_very_satisfied</mat-icon>
				</ng-template>

				<ng-template #matSuffixRef>
					<mat-icon>sentiment_very_satisfied</mat-icon>
				</ng-template>

				<ng-template #matTextPrefixRef>
					<span>$&nbsp;</span>
				</ng-template>

				<ng-template #matTextSuffixRef>
					<span>.00</span>
				</ng-template> -->
			</lib-textbox>
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-textarea
				[options]="textareaConfig"
				[control]="$any(form.get('description'))"
				(onInput)="onInputChange($event)"
			></lib-textarea>
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-dropdown
				[options]="dropdownConfig"
				[control]="$any(form.get('dropdown'))"
				(onSelection)="onInputChange($event)"
			/>
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-datepicker [options]="datepickerConfig" [control]="$any(form.get('datepicker'))" />
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-datepicker [options]="datepickerRangeConfig" />
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-radio-button
				[options]="radioConfig"
				[control]="$any(form.get('radio'))"
				(onChange)="onInputChange($event)"
			/>
		</div>

		<div class="tw-w-full tw-mb-2">
			<lib-checkbox
				[options]="checkboxConfig"
				[control]="$any(form.get('checkbox'))"
				(onChange)="onInputChange($event)"
			/>
		</div>
	</div>

	<lib-table [options]="tableConfig" (sortChange)="sortChange($event)">
		<ng-template #customTemplate let-data="data" let-key="key">
			@if (key === 'selection') {
				<div [class.show-checkbox]="data.isSelected">
					<mat-checkbox
						class="check-box check__file"
						[checked]="tableConfig.isSelected(data)"
						(change)="onCheckedHandler(data)"
					/>
				</div>
			} @else if (key === 'statusName') {
				<div
					class="tw-px-4 tw-py-2 tw-text-white tw-font-medium tw-w-max tw-rounded-full"
					[class.tw-bg-green-700]="data.statusName?.toLowerCase() === 'active'"
					[class.tw-bg-red-700]="data.statusName?.toLowerCase() === 'inactive'"
					[class.tw-bg-gray-700]="data.statusName?.toLowerCase() === 'pending'"
				>
					{{ data.statusName }}
				</div>
			}
		</ng-template>

		<ng-template #selectionTemplate>
			<div class="filter-list">
				<mat-checkbox class="check__file" (change)="selectAllData($event.checked)" />
			</div>
		</ng-template>
	</lib-table>
</div>
