<div class="tw-grid tw-gap-5 md:lg:tw-grid-cols-4">
	@for (item of [0, 1, 2, 3]; track $index) {
		<div class="md:lg:tw-col-span-1">
			<app-widget-card />
		</div>
	}
</div>

<div class="tw-grid tw-gap-5 tw-my-6 md:lg:tw-grid-cols-2">
	<mat-card appearance="outlined">
		<mat-card-header class="!tw-px-4 !tw-py-3 tw-border-b tw-border-solid">
			<mat-card-title class="tw-text-lg !tw-font-medium">
				Barchart - Total voucher claim [Daily]
			</mat-card-title>
		</mat-card-header>

		<mat-card-content class="!tw-p-4">
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
				Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
				originally bred for hunting.
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card appearance="outlined">
		<mat-card-header class="!tw-px-4 !tw-py-3 tw-border-b tw-border-solid">
			<mat-card-title class="tw-text-lg !tw-font-medium">
				Pichart - Member (percentage)
			</mat-card-title>
		</mat-card-header>

		<mat-card-content class="!tw-p-4">
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
				Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
				originally bred for hunting.
			</p>
		</mat-card-content>
	</mat-card>
</div>
