<p class="tw-font-semibold tw-text-lg tw-text-gray-900 tw-mb-4">Company Text</p>

<h1 class="tw-font-bold tw-text-2xl tw-text-gray-900 tw-leading-5 tw-tracking-tight tw-mb-2">
	Forgot Password
</h1>

<p class="tw-text-sm tw-font-light tw-text-gray-500">
	Please enter your email address and we will send you a password reset to continue
</p>

<form [formGroup]="form" class="tw-mt-6">
	<lib-formly [form]="form" [formConfig]="formConfig.formly()" />
</form>

<div class="tw-mt-6">
	<lib-button [config]="formConfig.send()" (onClick)="doSend()" />
</div>

<div class="tw-mt-6">
	<lib-button [config]="formConfig.back()" (onClick)="navigateToLogin()" />
</div>
