<mat-list role="list" class="!tw-p-4">
	@for (menu of navigation(); track $index) {
		<mat-list-item
			role="listitem"
			class="tw-my-4 !tw-cursor-pointer"
			[class.tw-mb-0]="menu.isOpened"
			[style.padding-left]="menu.paddingLeft"
			[class.active-menu]="menu.isActive"
			(click)="onClickMenu(menu)"
		>
			<div class="tw-flex tw-justify-between tw-gap-4 tw-text-white tw-text-sm active-menu__label">
				<div class="tw-flex tw-items-center tw-gap-3">
					<mat-icon>{{ menu.icon }}</mat-icon>
					<p class="tw-mb-0">{{ menu.label }}</p>
				</div>

				<div class="tw-flex tw-items-center tw-gap-2">
					@if ((menu?.subMenu || []).length > 0) {
						<mat-icon>
							@if (menu.isOpened) {
								keyboard_arrow_up
							} @else {
								keyboard_arrow_down
							}
						</mat-icon>
					}
				</div>
			</div>
		</mat-list-item>

		@if (menu.subMenu?.length && menu.isOpened) {
			<app-sidebar [navigation]="menu?.subMenu || []" />
		}
	}
</mat-list>
