.active-menu {
	background-color: var(--mat-sys-inverse-primary);
	padding-left: 0 !important;
	border-radius: 8px;
	&::before {
		content: '';
		position: relative;
		top: 4px;
		right: 0;
		height: 80%;
		margin-left: 2px;
		margin-right: 1.5rem;
		border: 3px solid var(--mat-sys-primary);
		border-radius: 24px;
		transition: opacity 0.2s ease-in-out;
	}
	.active-menu__label {
		color: #09090b;
		font-weight: 500;
	}
}
