<div class="tw-m-5">
	<lib-breadcrumbs [breadcrumbs]="breadcrumbs" />
</div>

<div class="tw-m-5">
	<div class="tw-flex tw-justify-between tw-items-center tw-mb-4">
		<div class="tw-w-1/3">
			<lib-textbox [config]="formList.searchTextbox" [control]="searchControl" class="search-field">
				<ng-template #matSuffixRef>
					<mat-icon class="tw-cursor-pointer" (click)="onInputChange()">search</mat-icon>
				</ng-template>
				<!-- <ng-template #matPrefixRef>
					<mat-icon>sentiment_very_satisfied</mat-icon>
				</ng-template>

				<ng-template #matSuffixRef>
					<mat-icon>sentiment_very_satisfied</mat-icon>
				</ng-template>

				<ng-template #matTextPrefixRef>
					<span>$&nbsp;</span>
				</ng-template>

				<ng-template #matTextSuffixRef>
					<span>.00</span>
				</ng-template> -->
			</lib-textbox>
		</div>

		<lib-button [config]="formList.addNewButton" (onClick)="navigateToAdd()" />
	</div>

	<lib-table
		[config]="tableConfig"
		(sortChange)="sortChange($event)"
		(pageChange)="pageChange($event)"
	>
		<ng-template #customTemplate let-data="data" let-key="key">
			@if (key === 'selection') {
				<div [class.show-checkbox]="data.isSelected">
					<mat-checkbox
						class="check-box check__file"
						[checked]="tableConfig.isSelected(data)"
						(change)="onRowSelection(data)"
					/>
				</div>
			} @else if (key === 'statusName') {
				<div
					class="tw-px-4 tw-py-2 tw-text-white tw-font-medium tw-w-max tw-rounded-full"
					[class.tw-bg-green-700]="data.statusName?.toLowerCase() === 'active'"
					[class.tw-bg-red-700]="data.statusName?.toLowerCase() === 'inactive'"
					[class.tw-bg-gray-700]="data.statusName?.toLowerCase() === 'pending'"
				>
					{{ data.statusName }}
				</div>
			} @else if (key === 'actions') {
				<div class="tw-flex tw-gap-3">
					<mat-icon class="tw-cursor-pointer" (click)="onAction()">edit</mat-icon>
					<mat-icon class="tw-cursor-pointer" (click)="onAction()">delete</mat-icon>
				</div>
			}
		</ng-template>

		<ng-template #selectionTemplate>
			<div class="filter-list">
				<mat-checkbox class="check__file" (change)="onAllSelection($event.checked)" />
			</div>
		</ng-template>
	</lib-table>
</div>
