$font-weights: (
	thin: 100,
	xlight: 200,
	light: 300,
	regular: 400,
	medium: 500,
	sbold: 600,
	bold: 700,
	xbold: 800,
);

/* Inter */
.font-Inter {
	font-family: 'Inter';
}

.font-InterBlack {
	font-family: 'InterBlack';
}

.font-InterMedium {
	font-family: 'InterMedium';
}

.font-InterThin {
	font-family: 'InterThin';
}

.font-InterSemiBold {
	font-family: 'InterSemiBold';
}

.font-InterBold {
	font-family: 'InterBold';
}

.font-InterExtraBold {
	font-family: 'InterExtraBold';
}

.font-InterLight {
	font-family: 'InterLight';
}

.font-InterExtraLight {
	font-family: 'InterExtraLight';
}
